@media (max-width: 600px) {
  body {
    width: 500px;
  }
  #testimonial div {
    width: 400px;
  }
  #artigo_de_tabelas img {
    width: 100%;
    height: 250px;
  }


  #carrossel .slider {
    width: 400px;
    height: 200px;
  }

  #carrossel .slider .slide {
    height: 200px;
  }


  #carrossel .slider .slide img{
    width: 400px; 
    height: 200px;
  }

  #carrossel .slider button{
    display: hidden;
    height: 4%;
    width: 4%;
  }

  .btn-prev {
    top: 5%;
    left: 2%;
  }
  .btn-next {
    top: 5%;
    right: 2%;
  }

  #doacoes .oferta img {
    width: 100%;
    height: 120px;
  }

  #doacoes .oferta h5 {
    font-size: 12px;
  }
  #doacoes .oferta p {
    font-size: 12px;
  }
}